
<!-- <mat-list role="list">
  <mat-list-item role="listitem"> Nombre: {{ hero?.superhero }}</mat-list-item>
  <mat-list-item role="listitem">Primera Aparicion: {{hero?.alter_ego}} </mat-list-item>
  <img width="300" height="300" src="assets/heroes/{{id}}.jpg" alt=""> 
  <mat-list-item role="listitem">Primera Aparicion: {{hero?.first_appearance}} </mat-list-item>
  <mat-list-item role="listitem"> {{hero?.publisher}} </mat-list-item>
  <mat-list-item role="listitem">{{hero?.characters}} </mat-list-item>
  
</mat-list>

<button mat-fab extended color="warn" [routerLink]="['/heroes/list']">
  <mat-icon>home</mat-icon>
  Regresar
</button> -->

<br>
<br>
<ng-template #divLoading>
  <mat-grid-list cols="1">
    <mat-grid-tile>
      <mat-spinner></mat-spinner>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>


<div *ngIf="hero; else divLoading" class="grid">
  <mat-card class="col-12 sm:col-6">
    <mat-card-header>
      <mat-card-title> {{hero.alter_ego}} </mat-card-title>
      <mat-card-subtitle> {{hero.superhero}} </mat-card-subtitle>
    </mat-card-header>

    <img [src]="hero | heroImage" [alt]="hero.superhero">
  </mat-card>

  <mat-card class="col-12 sm:col-6">
    <mat-card-header>
      <mat-card-title>Informacion</mat-card-title>
      <mat-card-subtitle> {{hero.superhero}} </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-nav-list> {{hero.first_appearance}} </mat-nav-list>
        <mat-nav-list> {{hero.publisher}} </mat-nav-list>
        <mat-nav-list> {{hero.alter_ego}} </mat-nav-list>
      </mat-list>

      <button mat-fab extended color="warn" (click)="goBack()">
        <mat-icon>home</mat-icon>
        Regresar
      </button>

    </mat-card-content>
  </mat-card>
</div>